<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<app-header></app-header>
<div class="about">
<h1>ABOUT US!</h1>
<div class="aboutustext">
<h4>
    Welcome cake lovers!
    <br> We create varities of cup-cakes <br> to match up your moods and cravings.<br>
    Cake Kart provide you with several delicious <br> cup-cakes for various occasions. <br>
    You can gift , present and add it to your parties <br> and make our cupcakes your favorite companion.<br>
    Lift up your mood with Cake Kart!
</h4>
</div>

<section>
    <div class ="aboutbuttons">
        <button mat-raised-button class="dealoftheday"  (click)="opendod()"><h2>DEAL OF THE DAY</h2></button>
        <button mat-raised-button class="buynow" (click)="openproducts()"><h2>BUY NOW</h2></button>
    </div>
        </section>
  
</div>
<img [src] = "gif2" alt="logo" class = 'deliveryguy'/>
</body>
</html>
