

<div [ngSwitch]="type">
    <div *ngSwitchCase="' '">
<h3 class="signin"><a routerLink="seller-signin">Seller/</a><a routerLink="signin">User</a></h3>

<!-- <img [src] = "gif" alt="logo" class = 'carticon'/> -->
<nav class="nav">      
    <h4 class="main"> Cake Kart </h4>
   
    <!-- <ul>
        <li><a routerLink = "/">HOME</a></li>
        <li><a routerLink ="/aboutus">ABOUT US</a></li>
        <li><a routerLink = "/dod">DOD</a></li>
        <li><a routerLink="/products">PRODUCTS</a></li>
        <li><a routerLink="/contacts" style= "color:black;">CONTACTS</a></li>
    </ul> -->
</nav>
</div>
<div *ngSwitchCase="'user'">
 <h3 class="logout"><a href (click)="logOut()">{{userName | titlecase}} </a></h3>   
    <!-- <h3 class="logout"><a href (click)="logOut()"> logout </a></h3>  -->
    <img [src] = "gif" alt="logo" class = 'carticon'/>
    <nav class="nav">
        <h4 class="main"> Cake Kart </h4>
       
        <ul>
            <li><a routerLink = "/">HOME</a></li>
            <li><a routerLink ="/user-aboutus">ABOUT US</a></li>
            <li><a routerLink = "/user-dod">DOD</a></li>
            <li><a routerLink="/user-products">PRODUCTS</a></li>
            <li><a routerLink="/contacts" style= "color:black;">CONTACTS</a></li>
        </ul>
    </nav>
    </div>
</div>

