<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <app-header></app-header>
    <div class="container-fluid abc">
        <ul>
          <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        </ul>
      </div>
      <div class = "contactmain">

        <div class = "address" >
            <div><h1 class = "add1">Our Address</h1></div>
            <div class = "imgdiv"><img [src] = "img1" alt = "logo"class = "img1"></div>
            <div ><h3 class = "add2">12,Picnic Garden Road<br>Kolkata, India</h3></div>
        </div>
    
        <div class = "Callus" >
            <div >
                <h1 class = "call1">Contact Us</h1>
            
        </div>
            <div>
               <div class="img2div"> <img [src] = "img2" alt = "logo" class = "img2"></div>
               <div class = "phndiv"><h3 class = "phno">+91-9873204322<br>+91-7636522489</h3></div> 
                
            </div>
        </div>
    
      </div>







</body>
</html>