<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<app-header></app-header>
<div class="homepagetext">
    <h1>Cake Kart</h1>
    <h4>Love at first site</h4>
    <h2>Offering an exclusive range</h2>
    <section>
        <div>
            <button mat-raised-button class="btngetstarted">GET STARTED</button>
        </div>
            </section>

</div>

<div>
    <img [src] = "img" alt="logo"/>
</div>
    
</body>
</html>